/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 body {
  background-image: url(../images/feliscatus.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #d9d9d9;
  margin-top: 0px;
 }
 h4 a{
    color: #d9d9d9;
 }
.block-views-blockblog-posts-block-1 .views-row {
  overflow: hidden;
  margin-bottom: 25px;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 25px;
}
.block-views-blockblog-posts-block-1 .views-field-nothing h4 {
  text-transform: uppercase;
  margin: 20px 0 30px;
}
.block-views-blockblog-posts-block-1 .views-field-nothing h4 a {
  text-decoration: none;
  transition: all 0.2s ease 0s;
  outline: 0;
}
.block-views-blockblog-posts-block-1 .views-field-nothing .blog-body p {
  margin: 15px 0;
}
.block-views-blockblog-posts-block-1 .views-field-nothing h4 a:hover {
  color: #ff600a;
}
.region-sidebar-second {
  width: 340px;
}
.page-node-type-article .field--name-body {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
  #block-feliscatus-account-menu .navbar-right {
    margin-right: 0px;
  }
}
.navbar-header .region-navigation .logo img {
  height: 100px;
}
.navbar-header .region-navigation .name{
  display: none;
}
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-collapse {
  padding: 0 0 0 10px;
  background: rgba(0.1,0.1,0.1,.6);
}
.region-navigation-collapsible li a:hover {
  color: #ff600a !important;
}
.region-navigation-collapsible li a {
  padding: 17px 7px;
  text-transform: uppercase;
}