/**
 * If using a CSS pre-processor, tell it to overwrite this file. If not, place
 * your custom CSS modifications here.
 */
 body {
  background-image: url(../images/image.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #d9d9d9;
  margin-top: 0px;
 }
 h4 a{
    color: #d9d9d9;
 }
.block-views-blockblog-posts-block-1 .views-row {
  overflow: hidden;
  margin-bottom: 25px;
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 25px;
}
.block-views-blockblog-posts-block-1 .views-field-nothing h4 {
  text-transform: uppercase;
  margin: 20px 0 30px;
}
.block-views-blockblog-posts-block-1 .views-field-nothing h4 a {
  text-decoration: none;
  transition: all 0.2s ease 0s;
  outline: 0;
}
.block-views-blockblog-posts-block-1 .views-field-nothing .blog-body p {
  margin: 15px 0;
}
.block-views-blockblog-posts-block-1 .views-field-nothing h4 a:hover {
  color: #ff600a;
}
.region-sidebar-second {
  width: 340px;
}
.page-node-type-article .field--name-body {
  margin-top: 30px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .navbar-header {
    float: none;
  }
  #block-feliscatus-account-menu .navbar-right {
    margin-right: 0px;
  }
}
.navbar-header .region-navigation .logo img {
  height: 100px;
}
.navbar-header .region-navigation .name{
  display: none;
}
.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}
.navbar-collapse {
  padding: 0 0 0 10px;
  background: rgba(0.1,0.1,0.1,.6);
}
.region-navigation-collapsible li a:hover {
  color: #ff600a !important;
}
.region-navigation-collapsible li a {
  padding: 17px 7px;
  text-transform: uppercase;
}
.navbar-default .navbar-nav > .active > a {
  color: #ff600a;
  background-color: transparent;
}
.path-forum table thead th {
  width: 150px;
}
.path-forum table thead th:nth-child(4) {
  width: 200px;
}
.path-forum table tr {
  height: 30px;
}
.path-forum table tr td a {
  color: #85e500;
}
.path-forum table tr td a:hover {
  color: #ff600a;
}
.path-forum .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparent;
}
.page-node-type-forum .comment-reply {
  display: none;
}
.page-node-type-forum article footer a {
  display: none;
}
.page-node-type-forum .content article {
  margin-bottom: 15px;
}
.page-node-type-forum .field--name-body {
  margin-bottom: 30px;
}
.page-node-type-forum .js-comment {
  border: 1px solid;
  padding: 0px 10px 10px 20px;
}
.page-node-type-forum .js-comment h3 {
  margin-top: 0px;
}
.page-node-type-forum .js-comment h3 a {
  color: #85e500;
}
.page-node-type-forum .js-comment h3 a:hover {
  color: #ff600a;
  text-decoration: none;
}
.well {
  background-color: transparent;
  border: none;
  background-color: transparent;
  border: none;
  border-left: 1px solid #444;
  padding: 30px 29px 20px;
  float: left;
}
.social-media .left {
  float: left;
}
.social-media .right {
  float: right;
}
.top {
  padding: 8px 0 0 0;
  background: rgba(0.1,0.1,0.1,.6);
}
.social-media .right a {
  color: #85e500;
}
.social-media .right ul {
  list-style: none;
}
.social-media .right li {
  display: inline-block;
}
.social-media .left a {
  color: #d9d9d9;
  text-decoration: none;
}
.social-media .left a:hover {
  color: #BCBCBC;;
}
.container > .navbar-collapse {
  margin-left: -15px;
  margin-right: -15px;
}
.footer {
  border-top: none;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
   color: #777;
  background: rgba(0.1,0.1,0.1,.6);
}
.footer #block-feliscatus-footer {
  height: 50px;
  overflow: hidden;
  text-align: center;
}
.footer #block-feliscatus-footer ul {
  list-style: none;
}
.footer li a {
  padding: 17px 7px;
  color: #777;
  text-transform: uppercase;
}
.footer li a:hover {
  background-color: transparent;
  color: #ff600a
}

.footer #block-feliscatus-footer li {
  display: inline-block;
}